## Data Preprocessing

Data Preprocessing and exploration is a crucial step in data analysis. Often times, data is not present in a ready to use format. Its dirty and scattered in different places. Data analysis has to be done before applying any data science on data. Data can be in different formats like CSV, text, HTML, XML, JSON, ASCII, image etc. This notebook demonstrates how to process a json data file to convert it into a csv file.

Each record in a JSON file is called a document. Each document can have different number of fields, and some of the fields can be nested within other fields. This unstructured data is often stored in JavaScript Object Notation (JSON). JSON is a way to encode data structures like lists and dictionaries to strings that ensures that they are easily readable by machines.

Go to wiki to read more about [Json data format](https://en.wikipedia.org/wiki/JSON)

Python has great JSON support, with the json library. Python lists and dictionaries can be converted to JSON, and convert strings to lists and dictionaries. JSON data looks much like a dictionary would in Python, with keys and values stored.

### JSON example:  

[From wiki] Possible JSON representation describing a person.

    {
      "firstName": "John",
      "lastName": "Smith",
      "isAlive": true,
      "age": 25,
      "address": {
        "streetAddress": "21 2nd Street",
        "city": "New York",
        "state": "NY",
        "postalCode": "10021-3100"
      },
      "phoneNumbers": [
        {
          "type": "home",
          "number": "212 555-1234"
        },
        {
          "type": "office",
          "number": "646 555-4567"
        },
        {
          "type": "mobile",
          "number": "123 456-7890"
        }
      ],
      "children": [],
      "spouse": null
    }

This notebook leverages python library **`Pandas`** to explore and build csv file out of a text file with json documents.


Read the data from **`../../../datasets/chicago_small_loans/chicago_small_loans/loans.txt`**. Use json package to load the json format data.

In [1]:
import json
with open('../../../datasets/chicago_small_loans/loans.txt', 'r') as f:
    loans_data=json.load(f)

### The Dataset

The dataset used here contains information on Chicago Microlending Institute (CMI) Microloans. The data can be downloaded from [here](https://data.cityofchicago.org/Community-Economic-Development/Chicago-Microlending-Institute-CMI-Microloans/dpkg-upyz). The data contains information about the loans disbursed and reflects the lender, location, business industry, and borrower demographics.

In [2]:
type(loans_data)

dict

Now **`loans`** is a json object and is stored as a dictionary with key, value pairs in python. **`loans`** is a nested json object with data and meta as its parent tags. We are interested in data tag. So we just have to extract contents of data tag. Have a look at the data inside **`loans`**.

In [3]:
# To see the main tags in loans json object
for tags in loans_data:
    print(tags)

meta
data

In [4]:
for keys in loans_data : 
    print(keys)

meta
data

loans_data

This loans_data needs to be serialized(flattened) like an array so that it can be read as a list. The **`json_normalize`** method in pandas package does exactly the same. **`pandas.io.json.json_normalize`** method returns a pandas dataframe out of json format data file.


**Reference: ** 
- [json_normalize()](https://medium.com/@amirziai/flattening-json-objects-in-python-f5343c794b10#.22pg1vyfy)
- [pandas.io.json.json_normalize()](http://pandas.pydata.org/pandas-docs/version/0.19.2/generated/pandas.io.json.json_normalize.html)

### json_normalize()

**Parameters:	**
- data : dict or list of dicts unserialized JSON objects
- record_path : string or list of strings, default None. Path in each object to list of records. If not passed, data will be                     assumed to be an array of records
- meta : list of paths (string or list of strings), default None. Fields to use as metadata for each record in resulting table
- record_prefix : string, default None. If True, prefix records with dotted (?) path, e.g. foo.bar.field if path to records is                     [‘foo’, ‘bar’]
- meta_prefix : string, default None

**Returns: DataFrame**

Note: Also, the package **`flatten_json`** has functions to flatten a json object.

In [9]:
import pandas as pd
from pandas.io.json import json_normalize

result=pd.io.json.json_normalize(loans_data,'data') # parameter data is passed because we only want the contents 
                                                    # of data tag
result

,0,1,2,3,4,5,6,7,8,9,...,12,13,14,15,16,17,18,19,20,21
0,1,CAB3E0EA-54FF-4502-902A-092B10ECDAF8,1,1456413152,390945,1456413152,390945,None,2014-04-24T00:00:00,Accion,...,None,None,Chicago,IL,60621,None,Other Services,None,None,"[None, None, None, None, None]"
1,2,83DC4C30-85A5-4306-8C59-8558C087C1FB,2,1456413152,390945,1456413152,390945,None,2014-12-12T00:00:00,Accion,...,Lafayette,Street,Chicago,IL,60628,9,Construction/Repair,41.709285897,-87.624925274,"[None, 41.7092858973584, -87.62492527406924, N..."
2,3,CF850AD1-880F-4BAB-8F04-0A82BB939E20,3,1456413152,390945,1456413152,390945,None,2013-09-06T00:00:00,Accion,...,S,Lafayette,Chicago,IL,60628,9,Construction/Repair,None,None,"[None, None, None, None, None]"
3,4,6AD8DB81-0B26-45E3-9EAD-A890524AD7E9,4,1456413152,390945,1456413152,390945,None,2015-10-08T00:00:00,WBDC,...,43rd,Street,Chicago,IL,60653,4,Retail Sales - Other,41.817000516,-87.599814358,"[None, 41.817000515731735, -87.59981435844077,..."
4,5,B9E8523F-3973-401F-AEA6-570D87582718,5,1456413152,390945,1456413152,390945,None,2014-11-20T00:00:00,Accion,...,76th,Street,Chicago,IL,60619,8,Beauty/Salon Services,41.75705433,-87.598819545,"[None, 41.75705432976649, -87.59881954520198, ..."
5,6,ED7F6BF7-CC96-4EEF-BEBA-44863475907F,6,1456413152,390945,1456413152,390945,None,2013-07-29T00:00:00,Accion,...,76th,Street,Chicago,IL,60619,8,Beauty/Salon Services,41.75705433,-87.598819545,"[None, 41.75705432976649, -87.59881954520198, ..."
6,7,AB5A69E4-F77A-45FA-94D9-19687C171092,7,1456413152,390945,1456413152,390945,None,2015-02-18T00:00:00,Accion,...,California,Avenue,Chicago,IL,60622,26,Restaurant - Full Service,41.900760711,-87.696975027,"[None, 41.90076071102569, -87.6969750268571, N..."
7,8,22A2F772-6376-420D-B8C3-FAE40F982820,8,1456413152,390945,1456413152,390945,None,2013-08-08T00:00:00,WBDC,...,Western,Avenue,Chicago,IL,60612,25,Retail Sales - Other,41.868456183,-87.686235717,"[None, 41.868456183272436, -87.6862357173699, ..."
8,9,4CE4BF02-3A2C-48F1-810E-C8150FCCC1F9,9,1456413152,390945,1456413152,390945,None,2015-05-15T00:00:00,WBDC,...,Western,Avenue,Chicago,IL,60612,25,Retail Sales - Other,41.868456183,-87.686235717,"[None, 41.868456183272436, -87.6862357173699, ..."
9,10,412D2AB7-F8FB-4279-8BCA-DFFAF3C36EC7,10,1456413152,390945,1456413152,390945,None,2014-11-10T00:00:00,Accion,...,Halsted,Street,Chicago,IL,60628,34,Day Care,41.69995513,-87.642763331,"[None, 41.69995513017958, -87.64276333101112, ..."
10,11,95CB9354-6F9A-47FE-B473-F3BC47FD3158,11,1456413152,390945,1456413152,390945,None,2015-09-10T00:00:00,CNI,...,Yates,Avenue,Chicago,IL,60617,41,Other Services,41.701271823,-87.564135629,"[None, 41.70127182319375, -87.56413562869531, ..."
11,12,29DDD9C7-BD64-46E4-8641-DAD2B21EA5AF,12,1456413152,390945,1456413152,390945,None,2013-10-30T00:00:00,CNI,...,Eberhart,Street,Chicago,IL,60628,9,Transportation,41.698513608,-87.611230373,"[None, 41.69851360795925, -87.61123037310675, ..."
12,13,71073A4A-C505-42C8-9B59-DDF9E87B9B2B,13,1456413152,390945,1456413152,390945,None,2013-08-13T00:00:00,CNI,...,King Drive,Avenue,Chicago,IL,60628,9,Food/Beverage,None,None,"[None, None, None, None, None]"
13,14,3E409BE8-6C18-4C2D-A5A5-CBA28E4632D7,14,1456413152,390945,1456413152,390945,None,2013-01-11T00:00:00,CNI,...,Langley,Avenue,Chicago,IL,60628,9,Transportation,41.696425687,-87.606214973,"[None, 41.69642568689714, -87.60621497304894, ..."
14,15,6AC941D8-0303-4B97-9706-3A961596B6ED,15,1456413152,390945,1456413152,390945,None,2013-10-07T00:00:00,CNI,...,Langley,Street,Chicago,IL,60628,9,Transportation,41.696425687,-87.606214973,"[None, 41.69642568689714, -87.60621497304894, ..."
15,16,12309581-FDC7-4D92-9E5F-81C35A71AB39,16,1456413152,390945,1456413152,390945,None,2014-11-06T00:00:00,Accion,...,Longwood,Drive,Chicago,IL,60643,19,Professional/Off Svc,41.690441874,-87.672331394,"[None, 41.69044187443449, -87.67233139407176, ..."
16,17,3959E909-453C-45E3-B1D9-E6C44DABE137,17,1456413152,390945,1456413152,390945,None,2014-10-20T00:00:00,Accion,...,Western,Avenue,Chicago,IL,60643,19,Medical Services,41.690214082,-87.681251795,"[None, 41.69021408154776, -87.68125179470638, ..."
17,18,2EE775D9-58A8-441E-B5D8-CA04328CAD64,18,1456413152,390945,1456413152,390945,None,2015-02-23T00:00:00,CNI,...,Saint Lawrence,Avenue,Chicago,IL,60628,9,Food/Beverage,41.689529257,-87.608493489,"[None, 41.68952925704794, -87.60849348891128, ..."
18,19,F606FE09-69B9-4BFE-818A-2FC87DEBD747,19,1456413152,390945,1456413152,390945,None,2013-02-28T00:00:00,Accion,...,Bell,Avenue,Chicago,IL,60643,19,Professional/Off Svc,41.686896909,-87.676999722,"[None, 41.68689690902393, -87.67699972151529, ..."
19,20,2B2A8D8D-FA0A-4FC9-8CAA-08AA22EC6495,20,1456413152,390945,1456413152,390945,None,2015-04-07T00:00:00,WBDC,...,State,Street,Chicago,IL,60605,2,Other Services,41.867936373,-87.627580413,"[None, 41.86793637312042, -87.6275804131728, N..."
20,21,A155CB1B-95FA-4C10-8144-A064F06A4BCF,21,1456413152,390945,1456413152,390945,None,2013-10-07T00:00:00,WBDC,...,State,Street,Chicago,IL,60605,2,Other Services,41.867936373,-87.627580413,"[None, 41.86793637312042, -87.6275804131728, N..."
21,22,38D6978E-B258-42FD-9F1C-199BC7E24251,22,1456413152,390945,1456413152,390945,None,2013-04-26T00:00:00,Accion,...,111th,Street,Chicago,IL,60643,34,Food/Beverage,41.692353493,-87.651688246,"[None, 41.69235349273843, -87.65168824629325, ..."
22,23,363A25D0-50C8-4027-8E1C-C55F09A378BC,23,1456413152,390945,1456413152,390945,None,2013-05-06T00:00:00,Accion,...,Chicago,Avenue,Chicago,IL,60642,27,Food/Beverage,41.896342858,-87.657211671,"[None, 41.896342857527344, -87.6572116706118, ..."
23,24,5BAABE75-5812-4B2E-8491-1F4F69B4EA35,24,1456413152,390945,1456413152,390945,None,2014-04-29T00:00:00,Accion,...,Thorndale,Avenue,Chicago,IL,60660,48,Professional/Off Svc,41.99011704,-87.66017523,"[None, 41.99011703980512, -87.66017522979071, ..."
24,25,6E8D53D2-8B2F-4020-BFF9-622939D6A1A2,25,1456413152,390945,1456413152,390945,None,2013-09-12T00:00:00,CNI,...,Elizabeth,Street,Chicago,IL,60628,34,Construction/Repair,41.67980097,-87.653079115,"[None, 41.67980097024272, -87.6530791153102, N..."
25,26,1AF000E5-6682-4AD6-95CA-4ED384F5DDFD,26,1456413152,390945,1456413152,390945,None,2013-11-19T00:00:00,Accion,...,Michigan,Avenue,Chicago,IL,60605,3,Food/Beverage,41.866073587,-87.624267673,"[None, 41.86607358683167, -87.62426767322484, ..."
26,27,CD4B0423-D1AB-405A-9A3F-CE4883FDA352,27,1456413152,390945,1456413152,390945,None,2014-06-26T00:00:00,Accion,...,Lake,Street,Chicago,IL,60607,27,Entertainment,41.885583712,-87.658758596,"[None, 41.88558371201573, -87.65875859598854, ..."
27,28,11C860E1-9B3F-4AF2-BC69-0A5035596A69,28,1456413152,390945,1456413152,390945,None,2012-12-20T00:00:00,Accion,...,Paulina,Street,Chicago,IL,60622,1,Arts/Crafts Production,41.906544266,-87.670164899,"[None, 41.906544265521426, -87.67016489903163,..."
28,29,85AB9629-BE0F-44A6-B4CF-0CE07975A117,29,1456413152,390945,1456413152,390945,None,2015-03-30T00:00:00,Accion,...,Wrightwood,Avenue,Chicago,IL,60614,32,Retail Sales,41.928964527,-87.663049927,"[None, 41.92896452679012, -87.66304992664521, ..."
29,30,9A496758-BFAF-4D38-8CD0-A5664BD76E1F,30,1456413152,390945,1456413152,390945,None,2015-03-16T00:00:00,Accion,...,Brainard,Avenue,Chicago,IL,60633,10,Food/Beverage,41.648211288,-87.545772832,"[None, 41.64821128835381, -87.54577283207223, ..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
222,223,7EF95861-64E1-4944-8930-8A8C788069F3,223,1456413153,390945,1456413153,390945,None,2015-01-30T00:00:00,WBDC,...,Washington,Street,Chicago,IL,60661,42,Professional/Off Svc,41.883256433,-87.647365592,"[None, 41.88325643339401, -87.64736559214563, ..."
223,224,B4B00BF4-6865-4014-B8C4-DE171DAF71FD,224,1456413153,390945,1456413153,390945,None,2013-07-10T00:00:00,Accion,...,Clyde,Avenue,Chicago,IL,60649,8,Professional/Off Svc,41.757403429,-87.573811245,"[None, 41.757403428767546, -87.57381124532786,..."
224,225,85B18B0C-B7E6-4BD5-BBF6-F07C7985AFBF,225,1456413153,390945,1456413153,390945,None,2015-03-09T00:00:00,CNI,...,Albany,Avenue,Chicago,IL,60652,18,Other Services -Childcare,41.752003688,-87.700161747,"[None, 41.75200368812746, -87.70016174705742, ..."
225,226,C663890B-4792-48C4-817C-1E7BCF6A679D,226,1456413153,390945,1456413153,390945,None,2015-04-01T00:00:00,CNI,...,Calumet,Avenue,Chicago,IL,60619,6,Other Services - Childcare,41.75322778,-87.616735646,"[None, 41.753227780189036, -87.6167356456003, ..."
226,227,944D740F-A10F-456E-A0BA-AFDAB75A7B25,227,1456413153,390945,1456413153,390945,None,2014-11-25T00:00:00,Accion,...,Shore,Drive,Chicago,IL,60649,7,transportation,41.753007302,-87.549326948,"[None, 41.753007302343704, -87.54932694804312,..."
227,228,93380789-D56A-48D4-B217-E36E6B1BC71D,228,1456413153,390945,1456413153,390945,None,2015-08-28T00:00:00,Accion,...,Normal,Avenue,Chicago,IL,60620,17,Other Services,41.747411671,-87.636787879,"[None, 41.74741167131879, -87.63678787937967, ..."
228,229,FDEC6767-53D8-4B14-83EA-9EC673332999,229,1456413153,390945,1456413153,390945,None,2014-05-21T00:00:00,Accion,...,Stony Island,Avenue,Chicago,IL,60617,8,Auto/Vehicle,41.748143549,-87.586046897,"[None, 41.74814354870762, -87.58604689738195, ..."
229,230,5EB8594E-1C20-4174-BAD7-B5D87272A7F6,230,1456413153,390945,1456413153,390945,None,2014-09-16T00:00:00,CNI,...,Cornell,Avenue,Chicago,IL,60617,8,Construction,41.746689547,-87.584327648,"[None, 41.74668954706293, -87.58432764795074, ..."
230,231,19E09CFC-EF6C-4D85-8C2D-C7EC4B47FA2A,231,1456413153,390945,1456413153,390945,None,2013-10-04T00:00:00,WBDC,...,Langley,St,Chicago,IL,60619,6,Education,41.746075485,-87.607663164,"[None, 41.746075484832126, -87.60766316408197,..."
231,232,69EAEF45-F14B-4116-818C-C3207EF11DD1,232,1456413153,390945,1456413153,390945,None,2016-01-15T00:00:00,CNI,...,40th,Street,Chicago,IL,60653,4,Other Services,41.821834711,-87.604472033,"[None, 41.82183471067724, -87.6044720325633, N..."
232,233,8A2A49FB-5F85-4481-9167-30CF765BF114,233,1456413153,390945,1456413153,390945,None,2013-12-17T00:00:00,Accion,...,Wabash,Avenue,Chicago,IL,60605,4,Retail Sales - Other,41.871184354,-87.62606949,"[None, 41.87118435389697, -87.62606949029313, ..."
233,234,4D074F85-D9F2-4116-A5F3-85FB9C4A3016,234,1456413153,390945,1456413153,390945,None,2015-02-26T00:00:00,Accion,...,Wabash,Avenue,Chicago,IL,60605,4,Electronics,41.871184354,-87.62606949,"[None, 41.87118435389697, -87.62606949029313, ..."
234,235,1F7DF70D-934E-4EE5-9B07-2ECAABF0427E,235,1456413153,390945,1456413153,390945,None,2015-06-04T00:00:00,WBDC,...,63rd,Street,Chicago,IL,60621,20,None,41.779826797,-87.646902618,"[None, 41.77982679720496, -87.64690261797884, ..."
235,236,D7EF2055-617A-4966-AB1B-F6295AC60AED,236,1456413153,390945,1456413153,390945,None,2015-04-01T00:00:00,CNI,...,Racine,Avenue,Chicago,IL,60620,21,Other Services - Tire Repair,41.738069556,-87.653544944,"[None, 41.738069556335596, -87.65354494357217,..."
236,237,8EACEC2B-BBAE-498D-B814-631FD078384A,237,1456413153,390945,1456413153,390945,None,2015-08-31T00:00:00,Accion,...,Racine,Avenue,Chicago,IL,60620,21,Retail Services - Other,41.734425227,-87.653443031,"[None, 41.734425226572206, -87.65344303052751,..."
237,238,54ECD211-59CB-4EC1-9963-543D2AE053FD,238,1456413153,390945,1456413153,390945,None,2012-12-10T00:00:00,Accion,...,Racine,Avenue,Chicago,IL,60620,21,Retail Sales - Other,41.734425227,-87.653443031,"[None, 41.734425226572206, -87.65344303052751,..."
238,239,8D294FAB-09AC-4C99-83B4-7C84E931B60D,239,1456413153,390945,1456413153,390945,None,2015-08-06T00:00:00,CNI,...,Blackstone,Street,Chicago,IL,60619,8,Transportation,41.731729337,-87.588167875,"[None, 41.731729336641656, -87.5881678746066, ..."
239,240,BB42720D-07A4-424F-8B7B-D5ED5F2A6EC5,240,1456413153,390945,1456413153,390945,None,2015-12-11T00:00:00,CNI,...,Euclid,Avenue,Chicago,IL,60617,8,Other Services - Education,41.731882963,-87.576953624,"[None, 41.73188296339253, -87.57695362361743, ..."
240,241,A6635034-5D2B-4BE7-886F-8447C17D8EED,241,1456413153,390945,1456413153,390945,None,2013-04-27T00:00:00,Accion,...,Anthony,Avenue,Chicago,IL,60617,10,Day Care,41.726626307,-87.554414097,"[None, 41.72662630700125, -87.5544140970935, N..."
241,242,8AD4DEFF-F711-40B1-AC92-351F8D8F37A6,242,1456413153,390945,1456413153,390945,None,2016-02-16T00:00:00,CNI,...,Commercial,Avenue,Chicago,IL,60617,7,Transportation,41.726813141,-87.551328661,"[None, 41.72681314062514, -87.55132866101212, ..."
242,243,48BF5853-70D8-4DB4-AE4F-97F4C445A601,243,1456413153,390945,1456413153,390945,None,2013-05-07T00:00:00,Accion,...,Halsted,Street,Chicago,IL,60620,21,Beauty/Salon Services,41.72357081,-87.643414424,"[None, 41.72357080995004, -87.64341442435766, ..."
243,244,ACE4E611-0546-491F-AE92-3FE2FA26A054,244,1456413153,390945,1456413153,390945,None,2014-12-05T00:00:00,Accion,...,Perry,Avenue,Chicago,IL,60620,21,Day Care,41.722006907,-87.626390322,"[None, 41.72200690722266, -87.62639032219802, ..."
244,245,095F3128-1DC8-4B07-A506-1F898DC1D627,245,1456413153,390945,1456413153,390945,None,2013-05-10T00:00:00,Accion,...,47th,Street,Chicago,IL,60653,4,Beauty/Salon Services,41.809696835,-87.601757992,"[None, 41.809696834775934, -87.60175799174536,..."
245,246,322EE6FB-F547-4654-8186-51112504DD07,246,1456413153,390945,1456413153,390945,None,2015-06-29T00:00:00,CNI,...,North,Avenue,Chicago,IL,60642,21,Transportation,41.910951382,-87.653010859,"[None, 41.910951381838736, -87.65301085946902,..."
246,247,C46FF715-3C49-448F-B378-908650F6CDD6,247,1456413153,390945,1456413153,390945,None,2013-04-19T00:00:00,WBDC,...,Van Buren,Street,Chicago,IL,60607,2,Beauty/Salon Services,41.876716551,-87.651574752,"[None, 41.876716550619804, -87.65157475168087,..."
247,248,0CCD8762-A3A5-4336-B016-55659CA6CB24,248,1456413153,390945,1456413153,390945,None,2013-08-05T00:00:00,CNI,...,Washington,Street,Chicago,IL,60607,27,Other Services,41.883179433,-87.651753296,"[None, 41.883179432855336, -87.65175329591203,..."
248,249,2492227B-1908-4118-B7FA-FF64C8EACC08,249,1456413153,390945,1456413153,390945,None,2013-08-05T00:00:00,CNI,...,Washington,Street,Chicago,IL,60607,27,Other Services,41.883179433,-87.651753296,"[None, 41.883179432855336, -87.65175329591203,..."
249,250,FC4E56B6-0A15-47BC-90E1-0FA22FD15F06,250,1456413153,390945,1456413153,390945,None,2013-08-05T00:00:00,CNI,...,Washington,Street,Chicago,IL,60607,27,Construction/Repair,41.883179433,-87.651753296,"[None, 41.883179432855336, -87.65175329591203,..."
250,251,9B6DF1C1-0AD7-4807-B616-4EA19A501082,251,1456413153,390945,1456413153,390945,None,2014-11-18T00:00:00,Accion,...,Constance,Street,Chicago,IL,60617,7,Day Care,41.720988133,-87.579112453,"[None, 41.720988132805026, -87.57911245263031,..."
251,252,E36FFFAF-64EA-465E-9E65-2E39EB03C222,252,1456413153,390945,1456413153,390945,None,2013-04-22T00:00:00,CNI,...,King,Drive,Chicago,IL,60628,6,Professional/Off Svc,41.720390674,-87.614253606,"[None, 41.72039067363381, -87.614253605716, No..."

The array in the last column which has location information is not flattened yet. The **`meta`** parameter of json_normalize() function takes arguments, string or list of strings fields to use as metadata for each record in resulting table. meta will tell python how to parse the json(the structure to follow and create a flat array out of it). This allows for configuring the structure of the output file. This helps us in structuring the output file/dataframe but the problem is that the input object must be consistent and the arguments have to be picked manually depending on the structure. 

A json object doesn't have a definite structure. Thats the beauty and also paining aspect of Json. You cannot define the structure how you want to extract the json object data that fits every every document.  As shown [here](https://medium.com/@amirziai/flattening-json-objects-in-python-f5343c794b10#.22pg1vyfy) 

    sample_object = {'Name':'John', 'Location':{'City':'Los Angeles','State':'CA'}}

                                                and

    sample_object = {'Name':'John', 'Location':{'City':'Los Angeles','State':'CA'}, 'hobbies':['Music', 'Running']}

could be records in the same dataset. They both have different structure. Below defined python function will help in flattening JSON objects of arbitrary structure.

In [10]:
# out{} is a empty dictionary. 
def flatten_json(input_doc):
    out = {}

# defining a functiion: flatten() is called for every key value pair and checked for its type either dictionatry or list.  

    def flatten(x, name=''):
        if type(x) is dict:
            for a in x:
                flatten(x[a], name + a + '_')
        elif type(x) is list:
            i = 0
            for a in x:
#                 print(a,name)
                flatten(a, name + str(i) + '_')
                i += 1
        else:
#             print(name)
            out[name[:-1]] = x

    flatten(input_doc)
    return out

If you take the first json document

<img src="../images/json.PNG">

The function flatten_json() will recive this whole document as input in input_doc. It is checked whether its a list or dictionary primarily. Run below command to verify its a list. Now the **`elif`** condition for list is satisfied. Now the for loop is executed for each value in the list for 22 times since there are 22 elements in the list including the final array. The whole array at the end is the 22nd element. 

So the first document "loans_data["data"][0]" is checked if its a dictionary or a list. Since its a list, the for lopp is iterated for 22 times calling the same function recursively for 22 times. The first value "1" sent as input to flatten function again. since this time "1" is neither list nor a dictionary final else condition will be true. So **"1"** is appended to out{}. name has value ""+str(1)+"_" which will be a string "1_". But **"name[:-1]"** in final else statement strips final "_" if there are a series underscore values. Look at the output below to understand whats going on. 

Same applied to second value "CAB3E0EA-54FF-4502-902A-092B10ECDAF8" in next iteration. In last iteration the value is a list. verify the type by running below code cell. The flatten function is recursively called for 5 elements in inner list and name retainjs the value "21_" during recursive calls. so the names are printed as 21_1, 21_2 etc

In [12]:
# 21 elemnt in the list accessed by index 21. 
type(loans_data["data"][0][21])

list

### verify 
...the output of statement print(name) in final else statement above function flatten_json(). 

```
flatten_json(loans_data["data"][0])
```

In [13]:
flatten_json(loans_data["data"][0])

{'0': 1,
 '1': 'CAB3E0EA-54FF-4502-902A-092B10ECDAF8',
 '10': None,
 '11': None,
 '12': None,
 '13': None,
 '14': 'Chicago',
 '15': 'IL',
 '16': '60621',
 '17': None,
 '18': 'Other Services',
 '19': None,
 '2': 1,
 '20': None,
 '21_0': None,
 '21_1': None,
 '21_2': None,
 '21_3': None,
 '21_4': None,
 '3': 1456413152,
 '4': '390945',
 '5': 1456413152,
 '6': '390945',
 '7': None,
 '8': '2014-04-24T00:00:00',
 '9': 'Accion'}

In [14]:
import numpy as np

#creates a new dataframe that's empty
final_data=pd.DataFrame() 

# call flatten_json() method defined above for every json document in the data tag of loans_data.
# A flattened json document is supplied t json_normalize() to create a dataframe row and append it to 
# final_data dataframe.
for i in np.arange(0,len(loans_data["data"])):
    final_data=final_data.append(pd.DataFrame(json_normalize(flatten_json(loans_data["data"][i]))))

In [28]:
# Look at the first row of data
final_data[:1]

,0,1,10,11,12,13,14,15,16,17,...,21_2,21_3,21_4,3,4,5,6,7,8,9
0,1,CAB3E0EA-54FF-4502-902A-092B10ECDAF8,None,None,None,None,Chicago,IL,60621,None,...,None,None,None,1456413152,390945,1456413152,390945,None,2014-04-24T00:00:00,Accion

**Reference:** [indexing pandas dataframe](http://pandas.pydata.org/pandas-docs/stable/indexing.html)

The code recursively extracts values out of the object into a flattened dictionary. json_normalize is applied to 
the output of flatten_object to produce a python dataframe. Now that we have the dataframe there are some unwanted columns that should be removed. On inspecting the view tag in dataset, unnecessary columns are identified at positions 0,1,12,14,15,16,17,18,19,20,21,22,23. So get rid of them.

In [29]:
final_data.drop(final_data.columns[[0,1,12,14,15,16,17,18,19,20,21,22,23]],inplace=True,axis=1)
# df.columns[[0,1,12,14,15,16,17,18,19,20,21,22,23]]
final_data[:1]

,10,11,12,13,14,15,16,17,18,19,20,8,9
0,None,None,None,None,Chicago,IL,60621,None,Other Services,None,None,2014-04-24T00:00:00,Accion

In [30]:
final_data.head()

,10,11,12,13,14,15,16,17,18,19,20,8,9
0,None,None,None,None,Chicago,IL,60621,None,Other Services,None,None,2014-04-24T00:00:00,Accion
0,101XX,S,Lafayette,Street,Chicago,IL,60628,9,Construction/Repair,41.709285897,-87.624925274,2014-12-12T00:00:00,Accion
0,101XX,S,S,Lafayette,Chicago,IL,60628,9,Construction/Repair,None,None,2013-09-06T00:00:00,Accion
0,010XX,E,43rd,Street,Chicago,IL,60653,4,Retail Sales - Other,41.817000516,-87.599814358,2015-10-08T00:00:00,WBDC
0,010XX,E,76th,Street,Chicago,IL,60619,8,Beauty/Salon Services,41.75705433,-87.598819545,2014-11-20T00:00:00,Accion

Now set the column names. The **`columns`** tag in **`view`** which is in turn in **`meta`** tag has column names. Extract the names into a list called **`names`**. Find the length of columns tag to run the loop. Use len() function to find the length.

In [31]:
# fieldnames are present in the json object structure meta->view->columns->fieldname. So find the length of columns tag.
len(loans_data["meta"]["view"]["columns"])

22

    "columns" : [ {
        "id" : -1,
        "name" : "sid",
        "dataTypeName" : "meta_data",
        "fieldName" : ":sid",
        "position" : 0,
        "renderTypeName" : "meta_data",
        "format" : { },
        "flags" : [ "hidden" ]
      }, {
        "id" : -1,
        "name" : "id",
        "dataTypeName" : "meta_data",
        "fieldName" : ":id",
        "position" : 0,
        "renderTypeName" : "meta_data",
        "format" : { },
        "flags" : [ "hidden" ]
      },
      .
      .
      ,}

Above shown is the columns tag structure in the oroginal **`loans`** json object. Iterate 22 times through columns dictionary to extract the value of the key **`fieldName`**.

In [32]:
# Since columns is an array we are using array subscript to refer to each element.

import numpy as np
names=[]
length=len(loans_data["meta"]["view"]["columns"])
for i in range(0, length):
    names.append(loans_data["meta"]["view"]["columns"][i]["fieldName"])
names

[':sid',
 ':id',
 ':position',
 ':created_at',
 ':created_meta',
 ':updated_at',
 ':updated_meta',
 ':meta',
 'loan_date',
 'lender',
 'block',
 'street_direction',
 'street_name',
 'street_type',
 'city',
 'state',
 'zip',
 'ward',
 'industry',
 'latitude',
 'longitude',
 'location']

The column names with an appending **`:`** are unwanted. Get rid of those names. The forloop used below is a  consise shorthand notation of for loop. Examine the RHS. The first word, **`word`** is the output returned after evaluating the **`if`** condition.  

**Reference: ** [simplify python loops](http://blog.teamtreehouse.com/python-single-line-loops)

In [33]:
names=[word for word in names if not ':' in word]

In [34]:
names

['loan_date',
 'lender',
 'block',
 'street_direction',
 'street_name',
 'street_type',
 'city',
 'state',
 'zip',
 'ward',
 'industry',
 'latitude',
 'longitude',
 'location']

The last column location is an array of length 5 with gps coordinates information. The array has latitude and longitude information. But there are also columns latitude and longitude present outside this array. These columns are filled with null values. So lets remove the column "location" from the **`names`** list and use the existing columns latitude and longitude to store gps values.

In [35]:
# Remove last name from names list
names.pop(len(names)-1)

'location'

In [36]:
names

['loan_date',
 'lender',
 'block',
 'street_direction',
 'street_name',
 'street_type',
 'city',
 'state',
 'zip',
 'ward',
 'industry',
 'latitude',
 'longitude']

**Reference: **
- [Dataframe.drop()](http://chrisalbon.com/python/pandas_dropping_column_and_rows.html)

In [37]:
type(final_data)

pandas.core.frame.DataFrame

Use the names extracted for csv column headers. Before creating the csv file rename the columns of **`result`** dataframe. Rename the columns using dataframe.rename() function

In [39]:
final_data.rename(index=str, columns={'8': names[0], '9': names[1], '10': names[2], '11': names[3], '12': names[4], '13': names[5],\
                              '14':names[6], '15': names[7], '16': names[8], '17': names[9], '18': names[10], \
                              '19':names[11], '20': names[12]},inplace=True)
final_data[:5]

,block,street_direction,street_name,street_type,city,state,zip,ward,industry,latitude,longitude,loan_date,lender
0,None,None,None,None,Chicago,IL,60621,None,Other Services,None,None,2014-04-24T00:00:00,Accion
0,101XX,S,Lafayette,Street,Chicago,IL,60628,9,Construction/Repair,41.709285897,-87.624925274,2014-12-12T00:00:00,Accion
0,101XX,S,S,Lafayette,Chicago,IL,60628,9,Construction/Repair,None,None,2013-09-06T00:00:00,Accion
0,010XX,E,43rd,Street,Chicago,IL,60653,4,Retail Sales - Other,41.817000516,-87.599814358,2015-10-08T00:00:00,WBDC
0,010XX,E,76th,Street,Chicago,IL,60619,8,Beauty/Salon Services,41.75705433,-87.598819545,2014-11-20T00:00:00,Accion

**Reference: **
- [Dataframe.rename()](http://chrisalbon.com/python/pandas_rename_multiple_columns.html)

In [40]:
final_data[:2]

,block,street_direction,street_name,street_type,city,state,zip,ward,industry,latitude,longitude,loan_date,lender
0,None,None,None,None,Chicago,IL,60621,None,Other Services,None,None,2014-04-24T00:00:00,Accion
0,101XX,S,Lafayette,Street,Chicago,IL,60628,9,Construction/Repair,41.709285897,-87.624925274,2014-12-12T00:00:00,Accion

Write the final dataframe to a csv file.

In [ ]:
import csv
import numpy as np

# index=False will not write the default index column of dataframe to csv file. 
final_data.to_csv('../../../datasets/loans.csv',sep=',',header=True,index=False)

Look at the original data [here](https://data.cityofchicago.org/Community-Economic-Development/Chicago-Microlending-Institute-CMI-Microloans/dpkg-upyz).

## Reference :

[Excellent Python tutorial for a beginner from Google](https://developers.google.com/edu/python/introduction)